APP_ENV=development
APP_DEBUG=false
APP_PORT=3000
APP_URL="http://localhost:8000/"
APP_NAME="Node.js API Boilerplate"
APP_TIMEZONE="Asia/Kolkata"

DB_CONNECTION=
DB_HOST=
DB_DATABASE
DB_USER=
DB_PASS=
DB_PORT=

# JWT Configuration
JWT_SECRET_KEY="g2jIPxgWV85Tte"
# Token expiry time in seconds
JWT_EXPIRY_TIME=1800