APP_ENV=development
APP_DEBUG=false
APP_PORT=3000
APP_URL="http://localhost:8000/"
APP_NAME="Node.js API Boilerplate"
APP_TIMEZONE="Asia/Kolkata"

DB_CONNECTION=mysql
DB_PORT=3306
DB_HOST=localhost
DB_DATABASE=database_name
DB_USERNAME=username
DB_PASSWORD=password

# JWT Configuration
JWT_SECRET_KEY="g2jIPxgWV85Tte"
# Token expiry time in seconds
JWT_EXPIRY_TIME=1800